*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

:root {
  --clr-primary: hsl(3, 79%, 60%);
  --clr-secondary: hsl(216, 33%, 22%);
  --clr-tertiary: hsl(52, 83%, 77%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-gray: hsl(0, 0%, 83%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  line-height: 1.3;
}

p {
  max-width: 65ch;
}

p,
ul {
  margin-top: 0;
}

a {
  color: var(--clr-white);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  padding-inline: 1rem;
  width: min(100%, 1000px);
  margin-inline: auto;
}

.container.container--no-gutters {
  padding-inline: 0;
}

.list {
  color: var(--clr-primary);
  list-style: none;
  padding-inline-start: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-weight: 600;
  margin-block-end: 0;
}

figure,
blockquote {
  margin: 0;
  margin-block-end: 1rem;
}

.header {
  color: var(--clr-white);
  background-color: var(--clr-primary);
}

.header__title {
  padding-inline: 2rem;
  padding-block: 1rem;
  margin-bottom: 0;
}

.navigation {
  background-color: var(--clr-secondary);
  padding-inline: 1rem;
}

.navigation__list {
  list-style: none;
  padding-left: 0;
  margin-block: 0;
}

.navigation__link {
  font-weight: 600;
  display: block;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  text-align: center;
}

.navigation__link:not(:last-child) {
  border-bottom: 1px solid var(--clr-white);
}

.navigation__link.navigation__link--is-active {
  color: var(--clr-tertiary);
}

.content {
  padding-block: 1rem;
  flex-grow: 1;
}

.blockquote {
  background-color: var(--clr-gray);
  padding: 1rem;
  max-width: 65ch;
}

.flow > *:not(:last-child) {
  margin-block-end: 1rem;
}

.footer {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  color: var(--clr-white);
  background-color: var(--clr-secondary);
  text-align: center;
}

@media (min-width: 540px) {
  .navigation__list {
    display: flex;
  }

  .navigation__link {
    border-bottom: 0;
  }
}

@media (min-width: 900px) {
  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .grid--frontpage,
  .grid--menu {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .grid--frontpage figure,
  .grid--menu figure {
    margin-bottom: 0;
    height: 100%;
  }

  .grid--frontpage img {
    height: 100%;
    object-fit: cover;
  }

  .grid--reverse {
    flex-direction: row-reverse;
  }

  .grid__column {
    flex-basis: calc(50% - 2rem);
  }
}

.media-block {
  width: 100%;
}

.menu-list {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block-end: 0;
}

.dish {
  background-color: var(--clr-tertiary);
  border: 1px solid var(--clr-black);
  padding: 1rem;
}

.dish__image {
  width: 100%;
}

.dish__price {
  border: 6px solid var(--clr-secondary);
  display: inline-block;
  padding: 0.25rem;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  font-weight: 600;
}
